body {
    background: url(https://cdn.architextures.org/textures/24/1/crazing-tile-corfiot-qh4bpy.jpg);
    background-size: 75%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);
    height: 60%;
}